* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
  --Lexend-Deca: "Lexend Deca", sans-serif;
  --Inter: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

main {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 0 1 auto;
  gap: 2rem;
}

#text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  text-align: center;
}

#desktop-image {
  display: none;
}
#mobile-image {
  max-width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}
